.nav-layout ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-layout li {
    float: left;
    border-right:1px solid #bbb;
}

.nav-layout li:last-child {
    border-right: none;
}

.nav-layout li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-layout li a:hover:not(.active) {
    background-color: #111;
}

.nav-layout .active {
    background-color: #4CAF50;
}

article {
    border: 2px solid black;
    margin-bottom: 2px;
    padding: 5px;
}
