<h2>All Subs</h2>
<nav>
<ul>
  <% @subs.each do |sub| %>
    <li><a href="/subs/<%= sub.id %>"><%= sub.title %></a></li>
  <% end %>
</ul>
</nav>

<% if logged_in? %>
  <a href="/subs/new">Create Sub</a>
<% end %>

